.frontpage {
  position: relative;
  margin-top: -42px;

  &__container {
    @include media-container();
  }

  &__welcome {
    padding-top: 42px;
    position: relative;
    overflow: hidden;

    &::before {
      @include gradient-directional(rgba(theme-color(), 0.7), rgba(theme-color('secondary'), 0.7), 110deg);
      content: '';
      display: block;
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__welcome-video {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__welcome-inner {
    position: relative;
    z-index: 10;
    padding: gap(10) 0;
  }

  &__welcome-title {
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 48px;
    font-weight: bold;
    margin-bottom: gap();
  }

  &__welcome-description {
    color: white;
    text-shadow: 1px 1px 0 rgba(254, 254, 254, 0.3);
    font-size: 18px;
    font-weight: bold;
    max-width: 600px;
    margin-bottom: gap(3);
  }

  &__search {
    display: flex;
    box-shadow: 0 0 50px rgba(black, 0.3);
  }

  &__search-input {
    padding: gap(2) !important;
    border-radius: $border-radius-base 0 0 $border-radius-base !important;
  }

  &__search-submit {
    @include button-variant(white, theme-color());
    border-radius: 0 $border-radius-base $border-radius-base 0;
    padding: 0 gap(4);
    text-transform: uppercase;
    font-weight: bold;
  }

  &__author {
    position: relative;
    overflow: hidden;

    &::before {
      @include gradient-directional(rgba(white, 0.95), rgba(95, 95, 95, 0.6), 180deg);
      content: '';
      display: block;
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__author-inner {
    position: relative;
    z-index: 10;
    padding: gap(20) 0 gap(20);
  }

  &__author-avatar {
    display: table;
    margin: 0 auto gap(4);
    border-radius: 100%;
    border: 10px solid gray(400);
    box-shadow: 0 0 125px 20px white;
    transition: all 0.15s ease;

    &:hover {
      border: 10px solid theme-color();
    }
  }

  &__author-about {
    max-width: 800px;
    margin: 0 auto gap(3) auto;
    text-align: center;
  }

  &__author-more {
    @include mdi-icon('arrow-right', after, 0);
    display: table;
    margin: 0 auto;
    color: gray(100);
    font-weight: bold;

    &:hover {
      color: #007bff;
      text-shadow: 0 0 1px white;
    }
  }

  &__articles {
    margin-top: gap(6);
  }

  &__articles-title {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: gap(6);
  }

  &__blog-button {
    display: table;
    margin: gap(6) auto;
    background: theme-color();
    padding: gap();
    border-radius: gap();
    border: 2px theme-color() solid;
    transition: all 0.15s ease;
    box-shadow: 0 2px 4px rgba(theme-color(), 0.35);

    a {
      @include mdi-icon('arrow-right', after, 0);
      font-weight: bold;
      color: white;
    }

    &:hover {
      background: white;

      a {
        color: theme-color();
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__welcome-title {
      font-size: 28px;
    }

    &__welcome-description {
      font-size: 16px;
    }

    &__author-inner {
      padding-top: gap(4);
    }

    &__articles-title {
      font-size: 32px;
    }

    &__articles {
      padding: gap(4) 0;
    }
  }

  @include media-breakpoint-only(xs) {
    &__author-name {
      font-size: 28px;
    }

    &__author-about {
      font-size: 16px;
    }

    &__articles-title {
      font-size: 24px;
    }
  }

}
