.header {
  position: relative;
  z-index: 50;
  &__top {
    @include media-container();
    lost-flex-container: row;
    position: relative;
    align-content: center;
    z-index: 20;
  }

  &__block-system-branding-block {
    margin-right: 30px;
  }

  @include media-breakpoint-down(md) {

    &__top {
      display: none;
    }
  }
}