$social_icons: (
  'facebook': 'facebook',
  'twitter': 'twitter',
  'instagram': 'instagram',
  'youtube': 'youtube',
);

.social-links {

}

.footer-social {
  &__items {
    @include list-unstyled;
    lost-flex-container: row;
    justify-content: center;
  }

  &__item {
    margin: 0 gap(1);
  }

  &__link {
    display: block;
    width: 42px;
    height: 42px;
    border: 2px theme-color() solid;
    border-radius: 50px;
    background: theme-color();
    box-shadow: 0 2px 4px rgba(theme-color(), 0.35);
    color:white;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    transition: all 0.15s ease;

    &:hover {
      color: theme-color();
      background: white;
    }

  }

  @each $modifier, $icon in $social_icons {
    &__link--#{$modifier} {
      @include mdi-icon($icon, before, 0);
    }
  }
}
