{% set bem_block = 'app' %}
<div class="{{ bem_block }}">
    {% include '@blogger/include/header.html.twig' with{'show_blog_hero': false}%}

    {% include '@blogger/include/frontpage.html.twig' %}

    {% include '@blogger/include/footer.html.twig' %}
</div>
