{% set bem_block = 'app' %}
<div class="{{ bem_block }}">
    {% include '@blogger/include/header.html.twig' with {'show_blog_hero': false, 'bem_modifers': ['light-menu']} %}

    {% include '@blogger/include/about.html.twig' %}

    {% include '@blogger/include/footer.html.twig' %}
</div>
