.main-layout {
  @include media-container();
  position: relative;
  z-index: 10;

  &__inner {
    lost-flex-container: row;
    padding: gap(6) gap(3);
    background: white;
    box-shadow: 0 0 15px rgba(black, 0.15);
    margin-top: -100px;
    border-radius: 5px;
  }

  &--sidebar-first {
    .region-content {
      lost-column: 9/12;
    }

    .region-sidebar-first {
      lost-column: 3/12;
    }
  }
}