.form-comment-comment-form {


  @include media-breakpoint-up(md) {
    &__author {
      display: flex;
      justify-content: space-between;

      .form-item {
        width: 32%;
      }
    }
  }
}