.node-blog-full {

  .blog-social-share {
    margin-bottom: gap(3);
  }

  &__field-paragraphs {
    margin-bottom: gap(6);
  }

  .previous-next {
    margin-bottom: gap(3);
  }

  &__field-attachments {
    display: flex;
    justify-content: center;
    margin-left: gap(-3);
    margin-right: gap(-3);
    padding: gap(3);
    background: gray(50);
    margin-bottom: gap(6);
    border-top: 1px solid gray(100);
    border-bottom: 1px solid gray(100);
  }

  &__field-attachments-label {
    font-size: 24px;
    text-align: center;
    margin-bottom: gap(3);
  }

  &__field-attachments-items {
    lost-flex-container: row;
  }

  .blog-content-blog-related-posts {
    margin-bottom: gap(3);
  }

  &__field-comments-title,
  &__field-comments-form-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: gap(3);
    position: relative;
    text-transform: uppercase;

    span {
      background: white;
      position: relative;
      z-index: 10;
    }

    &::before {
      content:'';
      height: 2px;
      width: 100%;
      background-color: gray(300);
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 1px);
      z-index: 5;
    }
  }
  &__field-comments-content {
    margin-bottom: gap(3);

    .comment-comment-full {
      margin-bottom: gap(3);
      padding-bottom: gap(3);
      border-bottom: 1px solid gray(300);
    }

  }

  &__field-comments-content > .comment-comment-full {
    &:last-child {
      border-bottom: unset;
      margin-bottom: unset;
    }
  }

  @include media-breakpoint-up(lg) {
    &__field-attachment-item {
      lost-waffle: 4/12 3 gap();
    }
  }

  @include media-breakpoint-up(md) {

    &__field-comments-title,
    &__field-comments-form-title {
      span {
        padding: 0 gap(2);
      }
    }

    .indented {
      margin-left: gap(6);
      margin-bottom: gap(6);
    }
  }

  @include media-breakpoint-only(md) {
    &__field-attachment-item {
      lost-waffle: 6/12 2 gap();
    }
  }

  @include media-breakpoint-down(sm) {
    &__field-attachment-item {
      width: 100%;
    }

    .indented {
      margin-left: gap(3);
      margin-bottom: gap(3);

      > .indented {
        margin-left: gap(3);
      }
    }
  }
}
