.node-blog-teaser {
  &__field-promo-image {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(black, 0.1);
    margin-bottom: gap();


    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: gap();

    a {
      color: #333333;

      &:hover {
        color: $link-color;
      }
    }
  }

  &__meta {
    font-size: 14px;
    color: gray(500);
    display: flex;
  }

  &__created {
    @include mdi-icon('calendar-clock');
    margin-right: gap();
  }

  &__estimated-read-time {
    @include mdi-icon('av-timer');

    &::before {
      margin-right: 2px;
    }
  }

  &__field-tags {
    font-size: 14px;
    display: flex;
    margin: 0 0 gap();
    flex-flow: wrap;
  }

  &__field-tags-item {
    margin-right: gap();

    &:last-child {
      margin-right: 0;
    }
  }

  &__field-tags-item a{
    background: #884400;
    color: white;
    border-radius: 2px;
    padding: 1px gap();
  }

  @include media-breakpoint-only(xs) {
    &__title {
      font-size: 18px;
    }

    &__field-tags-item {
      font-size: 12px;
    }

    &__meta {
      flex-direction: column;
    }
  }
}